<head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% feed_meta %}
    {% seo title=false %}
  
    <!-- start: additional meta for twitter -->
    <meta name="twitter:image" content="{{ site.logo | prepend: site.url }}" />
    <meta name="twitter:description"  content="{{ page.excerpt | default: site.description | strip_html | strip_newlines }}" />
    <!-- end: additional meta for twitter -->
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
  
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />

  </head>
  
