<section class="post">
    <div class="post-header post-header--dw">
        <h1 class="post-header-title">{{ include.post.title }}</h1>
        <span>Category: {{ page.categories[0] }}</span>
        <h4 class="post-header-date"><span class="ordinal">{{ include.post.date | date: "%Y-%m-%d" }}</h4>
    </div>
    <div class="post-body">
        {% if page.toc %}
        <div class="toc-container">
            <h2 id="toc-title" class="toc-title">목차</h2>
            {{ include.content | toc_only }}
        </div>
        {% endif %}

        {{ include.content }}
    </div>
    <div class="post-footer">
        <ul class="post-footer-tags">
            {% for tag in include.post.tags %}
              <li class="post-footer-tag">#{{ tag }}</li>
            {% endfor %}
        </ul>
        <a href="https://www.google.com/maps/search/{{ include.post.location }}" target="_blank" class="post-footer-location">{{ include.post.location }}</a>
    </div>
</section>